[2020-03-13 13:59] Litttlefish opened #1 "Conflicts with newest Xaero's minimap(1.14.4)"
![image](https://user-images.githubusercontent.com/38809254/76627323-c5a93080-6575-11ea-87c0-e8f7301fb0b8.png)
If start with it and the game will show this

[2020-03-13 15:27] TelepathicGrunt commented on #1
I just tested with
`Xaeros_Minimap_20.5.2_Forge_1.14.4.jar`
`world_blender-1.14.4-1.2.1.jar`
and I was unable to reproduce that issue.

Are you using v20.5.2 Xaeros Minimap (got this from Xaeros's site) and were you testing with any other mod on as well? (If so, what other mods were on?)

[2020-03-14 02:07] Litttlefish commented on #1
sry for late reply

it will happen with latest Xaero's worldmap and Xaeros Minimap together

[2020-03-14 11:44] TelepathicGrunt commented on #1
Hmm. I am still unable to reproduce the issue.
![image](https://user-images.githubusercontent.com/40846040/76681233-46444d00-65c7-11ea-924f-66e4cb0b61e7.png)

Here is what I am using so far:
`XaerosWorldMap_1.5.6_Forge_1.14.4.jar`
`Xaeros_Minimap_20.5.2_Forge_1.14.4.jar`
`world_blender-1.14.4-1.2.1.jar`

And I am using 1.14.4 - 28.2.3 Forge (The very latest Forge version for 1.14.4)

Can you cause

[2020-03-15 04:55] Litttlefish commented on #1
[15三月2020 12:54:36.161] [main/INFO] [cpw.mods.modlauncher.Launcher/MODLAUNCHER]: ModLauncher running: args [--username, Litttle_fish, --version, 1.14.4-forge-28.2.1, --gameDir, C:\Users\admin\AppData\Roaming\.minecraft\versions\1.14.4-forge-28.2.1, --assetsDir, C:\Users\admin\AppData\Roaming\.minecraft\assets, --assetIndex, 1.14, --uuid, 87df0c27824b47adbefa7c7ca33284a6, --accessToken, ????????, -

[2020-03-15 12:46] TelepathicGrunt commented on #1
I have a gut feeling of what is going on but lets find out if it is right. Where did you download my mod and xaeros mods from? Like the actual source that you got the mods from?

[2020-03-16 04:19] Litttlefish commented on #1
your mod is from curseforge

and forge is from its official website

xaero's mods from theirs official website

[2020-03-16 23:47] TelepathicGrunt commented on #1
Well, I tried some more and I still am not able to reproduce this crash that you are experiencing. I even ask other modders and no one seems to have any idea on what is causing this. Sorry. :(

I wish I could help you out but I got nothing. I'll keep this issue open so if anyone else gets the same issue, they can add their details to this report and I can start looking for similarities between the

[2020-03-20 10:45] Shadows-of-Fire opened #2 "Startup Crash"
Hi, this error isn't really your fault, but you should probably catch it and assign blame to whatever is causing it: https://gist.github.com/Shadows-of-Fire/7c83dd262cec9f2f77a8839d0113a501

It would appear to be the fault of something not registering a feature, and granted, there's not really anything that even requires that features be registered to begin with, so this crash might become more co

[2020-03-20 15:11] TelepathicGrunt commented on #2
Thank you for reporting this issue! It's actually more of an issue on my end as I forgot to do some null checking. I just released v.1.2.4 to fix this issue and you can download it from CurseForge. <https://www.curseforge.com/minecraft/mc-mods/worldblender>

Again, thank you for letting me know! :)

[2020-03-20 15:11] #2 closed, assigned to TelepathicGrunt

[2020-03-22 07:02] Litttlefish commented on #1
hmm strange
i mean
i used a brand new forge file and installed those 3 mods
but still appeared this issue

[2020-03-24 17:15] TelepathicGrunt opened #3 "Infinite loop/generation stuck when useing The Midnight with this mod"
When using the beta v0.5.0 of The Midnight for 1.15.2 MC, the world will get stuck with nothing loading anymore when entering the World Blender dimension or worldtype.
https://www.curseforge.com/minecraft/mc-mods/the-midnight

This seems to be an indication of The Midnight's feature placement somewhere is only terminated when it hits a Midnight block and so it keeps checking downward forever. Whic

[2020-03-25 01:41] TelepathicGrunt commented on #3
it appears to be something with the mob spawning in The Midnight. Doing blacklistedSpawns = "midnight*" in World Blender's config lets the world generate correctly. Hmm.

[2020-03-25 22:02] TelepathicGrunt opened #4 "Desert temple, jungle temple, and strongholds doesn't generate chests/spawner"
Desert temples and Jungle temples generated in WB loses their loot chests. Strongholds loses their hallway chests and their Silverfish Spawner.

Seems to be only old vanilla structures that uses a boolean check when generating the chests/spawners. now the question is, why is the NBT data they get saying the stuff is placed already when it actually isn't? hmm.

Related issue : https://github.com/Te

[2020-03-26 23:01] TelepathicGrunt commented on #4
fixed in v1.3.1 which should be released shortly. Structures were added twice into the biome's feature list which caused them to be generated twice replacing themselves in the exact same blocks which made them look like they were generated once. For Desert temples, Jungle temples, and Strongholds, they have an extra check for if the chests and spawner was already made and if so, doesnt generate th

[2020-03-26 23:01] #4 closed, assigned to TelepathicGrunt

[2020-03-31 21:58] WenXin20 opened #5 "Loading Error"
`Minecraft v1.15.2`
`Forge v31.1.30`
`World Blender v1.3.2`

I got an error on load that says "World Blender encountered an error during the complete event phase: `null`"
[Log](https://gist.github.com/WenXin20/71f6d033a94ede25b28d8c8f3bad5201): Error starts at`[16:46:38]`

[2020-03-31 22:10] TelepathicGrunt commented on #5
Bugs already?! AAAAAAAAAAAAAAAAA!!!

Now that I got that out of my system lol, I think I know what the problem is and how to fix it. Try this quick fix jar and see let me know if it fixes the issue for you. :)
[world_blender-1.15.2-1.3.2.zip](https://github.com/TelepathicGrunt/WorldBlender/files/4411797/world_blender-1.15.2-1.3.2.zip)

[2020-03-31 22:51] WenXin20 commented on #5
Yep, that fixed it, thanks!

[2020-03-31 22:59] TelepathicGrunt commented on #5
Perfect! Thank you for reporting this issue!

[2020-03-31 22:59] #5 closed, assigned to TelepathicGrunt

[2020-04-02 14:49] WenXin20 opened #6 "Crash w/ Midnight & Endergetic"
`Minecraft v1.15.2`
`Forge v31.1.30`
`World Blender v1.3.3`
[`The Midnight v0.5.3`](https://www.curseforge.com/minecraft/mc-mods/the-midnight)
[`The Endergetic Expansion v1.2.5`](https://www.curseforge.com/minecraft/mc-mods/endergetic)

After a couple of minutes inside the World Blender world, I got this crash. From what I can gather from the crash report, it seems to be related to a Puff Bug from

[2020-04-02 18:06] TelepathicGrunt commented on #6
Thank you for reporting this! It seem this is an issue between The Endergetic Expansion and the Midnight with Puff Bug's pathfinding.

I opened an issue report with TEE here that you can watch to see if progress is made on fixing this crash. If it's on the Midnight's end, they will tell me and I'll open an issue with The Midnight. https://github.com/minecraftabnormals/The-Endergetic-Expansion/issu

[2020-04-02 18:37] WenXin20 commented on #6
Thanks, I thought that might be the case since, those two mods don't usually interact since they are two separate dimensions.

[2020-04-02 21:23] TelepathicGrunt commented on #6
Turns out the issue is on The Midnight's side. I made an issue report to them here: https://github.com/Cryptic-Mushroom/The-Midnight/issues/372

Hopefully it will be fixed soon! I'll leave this issue report up so other people coming here to report the crash will see this thread and know a fix is coming.

[2020-04-04 17:03] TelepathicGrunt commented on #6
The Midnight just released a fix for this crash and is available here: https://www.curseforge.com/minecraft/mc-mods/the-midnight/files/2920964

I'll close this issue now as the problem is now gone!

[2020-04-04 17:03] #6 closed, assigned to TelepathicGrunt

[2020-04-04 17:16] WenXin20 commented on #6
Thanks for the help!

[2020-05-07 04:48] kreezxil opened #7 "1.15.2-1.3.3 NoSuchMethodError on Server when players place portal blocks"
Issue:  1.15.2-1.3.3 crashes dedicated server Forge 1.15.2 build 31.1.46

Notes:

crash report:
http://paste.ubuntu.com/p/cjt7VZ9rzK/

fml server latest:
http://paste.ubuntu.com/p/MPP7PdpsSP/

[2020-05-08 14:30] TelepathicGrunt commented on #7
Thank you for letting me know! v1.3.4 is now out and should fix this bug.
<https://www.curseforge.com/minecraft/mc-mods/worldblender/files>

I'll close this issue now. Let me know if there any another problems!

[2020-05-08 14:30] #7 closed, assigned to TelepathicGrunt

[2020-06-03 04:27] WenXin20 opened #8 "Crash w/ The Conjurer Mod and Others"
`Minecraft v1.15.2`
`Forge v31.2.5`
[`The Conjurer v1.0.2`](https://www.curseforge.com/minecraft/mc-mods/the-conjurer)
[`Structure Gel API v1.0.0`](https://www.curseforge.com/minecraft/mc-mods/structure-gel-api)

I got a crash after trying to a world using the World Blender type. The crash report invovles both Conjurer Illager and it's required mod, Structure Gel.
[Crash Report](https://gist.githu

[2020-06-03 21:37] WenXin20 opened #9 "Loading Error w/ Lord of the Rings"
`Minecraft v1.15.2`
`Forge v31.2.5`
[`Lord of the Rings v1.2.2`](https://lotrminecraftmod.fandom.com/wiki/Updates/Renewed)(under snapshot 1.2)

I get an error while loading the game if the mod Lord of the Rings is not blacklisted in the config.
[Crash Log](https://gist.github.com/WenXin20/d5ed375932d300e527d7981e93d17f78)
Error starts at `[16:16:41]`

![2020-06-03_16 27 20](https://user-images.git

[2020-06-03 23:32] TelepathicGrunt commented on #8
Looking at this specific log, it seems The Conjurer messed up their structure placement code. I can make a bug report to them to let them know to make sure they always are giving their random number generator a positive number in their structure. The bug must be more easily triggered by world blender's terrain or something. Hopefully they are open source so I can see exactly what they did.

brb lo

[2020-06-03 23:40] TelepathicGrunt commented on #8
Alright, I opened up an issue report on their page so hopefully they can fix the crash soon! :)
https://gitlab.com/modding-legacy/the-conjurer/-/issues/2

I'll close this issue when their crash is fixed

[2020-06-03 23:42] TelepathicGrunt commented on #3
Midnight accepted my issue report that found the root cause of this issue. This will hopefully be fixed in the next Midnight update!
https://github.com/Cryptic-Mushroom/The-Midnight/issues/403

[2020-06-03 23:42] WenXin20 commented on #8
Thanks!

[2020-06-03 23:46] TelepathicGrunt commented on #9
Oh my. So much spam in that log that it got cut off lol. I'll try and reproduce the issue on my end as it seems to be an issue with how World Blender casts. Whoops!

Shouldn't take long.

Also, is just Dimensional Dungeons and Resourceful Bees the only other mods crashing world blender or is these three what you found so far?

[2020-06-04 00:04] WenXin20 commented on #9
Thanks!
Resourceful Bees crashes in the overworld as well, so it was unrelated to World Blender.

For Dimensional Dungeons, I was unable to reproduce the crash, although when first loading it, the log has an npe and says that code was called when the mod wasn't present, but the game still loads fine.

https://gist.github.com/WenXin20/f59533f914cc3c6164652fd9dc91cde9

[2020-06-04 00:33] TelepathicGrunt commented on #9
That dimensional dungeon issue is definitely an issue on my end. I had it write to the log if it fails setting up the mod compatibility with dimensional dungeons. time to find out why!

[2020-06-04 00:39] TelepathicGrunt commented on #9
Hmm. I just tried dimensional dungeons v1.06 and it didnt seem to cause that issue and the dungeons spawned in the world. What version of dimensional dungeons did you have on?

Also, looks like Resourceful bees has figured out their issue and their next update will fix their crash! https://github.com/Dungeon-Derps-Development/ResourcefulBees/issues/8

[2020-06-04 00:46] WenXin20 commented on #9
I'm using version 1.06 as well, although I'm not sure if the Dungeons are spawning or not. How often do they spawn in World Blender? I just know that the error was printed in the logs.

[2020-06-04 00:57] TelepathicGrunt commented on #9
They spawn fairly frequently underground and can easily be found with Night Vision + Spectator mode.

But if that error is printed in the log, they definitely wont be spawning for you. Super odd.
Can you try again with this jar and give me the crashlog? Hopefully this will give me more info on what is causing the crash. I think i know what it is but I need to confirm
[world_blender-1.15.2-1.3.5b.z

[2020-06-04 01:00] WenXin20 commented on #9
Sure! I'll give it a try later tonight

[2020-06-04 02:55] TelepathicGrunt commented on #9
Ok I am fairly certain I fixed the problem with this patch. I believe not all mods are registering their features (trees, ores, etc) properly and so, it crashes my code. When you do get a chance, try this jar instead of the other one and see if this fixes the problem. If so, I'll close this issue report and upload the working version to curseforge.
[world_blender-1.15.2-1.3.5c.zip](https://github.

[2020-06-04 02:59] WenXin20 commented on #9
Thanks! I'll give it a try.

[2020-06-04 05:18] WenXin20 commented on #9
It works with both mods! :)

[2020-06-04 11:45] TelepathicGrunt commented on #9
Perfect!
v1.3.5 is now up and approved on curseforge!
https://www.curseforge.com/minecraft/mc-mods/worldblender/files/2972270

[2020-06-04 11:45] #9 closed, assigned to TelepathicGrunt

[2020-06-19 22:09] TelepathicGrunt commented on #8
Oof I forgot to close this issue lol.  Conjurer fixed this issue a few days ago so I’ll close the report now

[2020-06-19 22:09] #8 closed, assigned to TelepathicGrunt

[2020-06-19 22:10] TelepathicGrunt commented on #1
Hmm. It’s been a while and it seems no one else is also having this issue. Really strange. I guess it was a one time thing so I’ll close this bug report now. Especially with me dropping 1.14 support since 1.16 is right around the corner

[2020-06-19 22:10] #1 closed, assigned to TelepathicGrunt

[2020-07-29 21:31] WenXin20 opened #10 "Crash w/ Conditional Mob Spawning"
`Minecraft v1.15.2`
`Forge v31.2.31`
`World Blender v1.3.6`
`Nature Plus`: https://github.com/WenXin20/natureplus
[natureplus-1.15.2-1.9.2.jar.zip](https://github.com/TelepathicGrunt/WorldBlender/files/4997451/natureplus-1.15.2-1.9.2.jar.zip)

MCreator recently added something called conditional mob spawning, which allows the creator to create a procedure that allows mobs to spawn only in certain

[2020-07-29 22:22] TelepathicGrunt commented on #10
Oh no. Mcreator.... I'm scared at what horrors lies in wait for me from its codebase!

[2020-07-29 22:42] TelepathicGrunt commented on #10
I think I know the issue but I'll need you to test with this jar. If it crashes still, please tell me as then I'll know for certain that Mcreator is not registering entities which is MASSIVELY concerning on their part and for the love of all mods everywher, I really hope that isn't the case lmao

[world_blender-1.15.2-1.3.8-beta.zip](https://github.com/TelepathicGrunt/WorldBlender/files/4997837/wo

[2020-07-29 22:49] WenXin20 commented on #10
Oh boy, that would be bad, but I'm pretty sure they are being registered in their own package for each entity, and the mod worked with World Blender in the previous MCreator snapshot.
But thanks, I'll give it a try later.

[2020-08-07 22:53] WenXin20 commented on #10
Hello, sorry it took a while. The beta version you provided does not crash the server anymore. Thanks!

[2020-08-08 01:14] TelepathicGrunt commented on #10
Oh thank you! I'm glad you commented as I completely forgot about this lol. I believe the issue was that I was getting the ID of the entity through a special method that Forge patched into the entities. mcreator does not have this patch so their entities would return nothing for the ID when I used that one method.

I, now, instead get the ID straight from the registry so the ID always exists.

v1.

[2020-08-08 01:14] #10 closed, assigned to TelepathicGrunt

[2020-08-08 01:19] WenXin20 commented on #10
Thanks!

[2020-10-13 00:12] #3 closed, assigned to TelepathicGrunt

[2020-10-14 00:47] TelepathicGrunt opened #11 "[1.16.3] crashes with vampirism"
https://www.curseforge.com/minecraft/mc-mods/vampirism-become-a-vampire

[2020-10-14 00:50] TelepathicGrunt commented on #11
https://hastebin.com/uvulayumag.sql
[latest.log](https://github.com/TelepathicGrunt/WorldBlender/files/5374906/latest.log)

[2020-10-14 00:54] TelepathicGrunt opened #12 "World blender altar does not spawn when turning off vanilla features"
lol wut?

[2020-10-14 19:03] #11 closed, assigned to TelepathicGrunt

[2020-10-20 02:44] TelepathicGrunt commented on #12
fixed in latest

[2020-10-20 02:44] #12 closed, assigned to TelepathicGrunt

[2020-10-21 22:37] TelepathicGrunt opened #13 "ignore null entries in surfacebuilder configs from other mods"
byg crash
https://github.com/TelepathicGrunt/WorldBlender/blob/be816582d62f6b5d3967f9c80a25034b632b390c/src/main/java/com/telepathicgrunt/world_blender/the_blender/TheBlender.java#L459

[2020-10-21 22:38] CorgiTaco commented on #13
Better catch the nulls >:)

[2020-10-22 09:00] maxanier opened #14 "[1.16] Classloading issue with Vampirism"
There is a weird crash with WorldBlender and Vampirism https://github.com/TeamLapen/Vampirism/issues/787
For some reason the Screen class of one of Vampirism's tileentities cannot be loaded/initialized.
I have no idea how this can happen. From a quick look at your mixins I couldn't find anything related.
Do you have any idea how WorldBlender might be involved?

### Steps to reproduce
- Forge 34.1.

[2020-10-22 11:44] TelepathicGrunt commented on #14
The only place where I may interact with another mod's tile entity in a strange way is here at FMLCommonSetupEvent to try my best to find all possible modded chests. However, this still doesn't explain the issue you are seeing I think:
https://github.com/TelepathicGrunt/WorldBlender/blob/be816582d62f6b5d3967f9c80a25034b632b390c/src/main/java/com/telepathicgrunt/world_blender/blocks/WBPortalSpawnin

[2020-10-22 13:25] maxanier commented on #14
Ok, some further investigation shows that this is related to the mentioned code and the issue you discovered in https://github.com/TelepathicGrunt/WorldBlender/issues/11

When the tileentity is loaded during common setup the static initializer in the container class tries to use Tags. This fails because they are not loaded yet and therefore the entire class somehow gets (marked as) "corrupt".
When

[2020-10-22 13:25] #14 closed, assigned to TelepathicGrunt

[2020-10-22 13:32] TelepathicGrunt commented on #14
Hmm. I could try making it rebuild the list of valid chest tile-entities at startup of every world so that way the world exist and less tile-entities could crash. Yeah I'll try this on my side so other chest tile-entities doesn't get swallowed by the try catch if they are doing tags and such. Thank you for letting me know about this!

[2020-10-22 18:55] TelepathicGrunt commented on #13
fixed in 2.0.3

[2020-10-22 18:55] #13 closed, assigned to TelepathicGrunt

[2020-10-24 23:24] DatrixTHLK opened #15 "Array Index out of Bounds Error"
Hi there,

 I've gotten this error when I had your mod within my mod list. I can only guess this means that Out of bounds means it has gone beyond whatever it has gone beyond(???) for lack of better terms. Can you help explain what this means if I haven't done it correctly?

Minecraft: 1.16.3
Forge: 34.1.25
World Blender: 2.0.4

Crash report: https://gist.github.com/DatrixTHLK/a6d24883aee9c8045b2b

[2020-10-24 23:27] TelepathicGrunt commented on #15
Oh no! A rendering issue! uhhh

Can you show me your latest.log file? It will be in the logs folder above your mods folder. It will have more info as to what happened. And what other mods do you have on?

And what exactly what happening when this crash occurred? Sorry for all the questions but the more info, the easier it will be to find the source of the issue.

[2020-10-25 01:23] DatrixTHLK commented on #15
Strange...it works just fine now.

When I went into my saved world it froze up and went to an exit code zero. Working with a completely new game file though. So I guess I'll have to give up my old world and work with the new world now.

[2020-10-25 01:25] TelepathicGrunt commented on #15
If you can trigger the world freezing up again and then give me the latest.log file, it'll say why the exit code zero occurred. I cant do anything without any info

[2020-10-25 01:41] DatrixTHLK commented on #15
FML Log: https://gist.github.com/DatrixTHLK/aaa0d7800d202e11bc3062ba7f4e0bd8

I hope this can help.

[2020-10-25 02:04] DatrixTHLK commented on #15
I noticed you updated the mod so I'll try it with that version and see what happens

[2020-10-25 14:52] TelepathicGrunt commented on #15
Few things, are you using All The Mods 6 modpack? If so, what additional mods do you have on or can you export your mods so I can test?

Also, are you using the latest Blame mod version? 1.4.6 is released but the log looks like it is an older version I think. I should have blame put it's version in the logs so i can tell when people are outdated

[2020-10-25 18:09] DatrixTHLK commented on #15
I'm not using any modpacks. I simply download the mods from Curseforge and then play around with them experiencing the game uninhibited eventually running into issues. I'll restart my computer and see if that fixes the issue first...I'll contact you with whatever problem happens with the game.

I would love it if a mod could tell me what mods need updating.

[2020-10-25 18:50] DatrixTHLK commented on #15
Here is the mod list. I took out some that weren't need because they were redundant: https://filebin.net/ckd17chf4ovev2bu

Blame is up to date at 1.4.6 atm

Latest FML Report: https://gist.github.com/DatrixTHLK/39aff47c870c3512339b52ad6246ba47

[2020-10-27 15:30] TelepathicGrunt commented on #15
Sorry. Just wanted to let you know that I still havent forgotten about this. Forge released a breaking change that broke all my mods. Once my mods are updated to work on newest forge, I can revisit this bug and figure out what the heck is going on lol

[2020-10-27 15:32] TelepathicGrunt opened #16 "Forge 34.1.27+ breaking change. Downgrade to .25 for now until fix is release"
See title

[2020-10-27 16:47] DatrixTHLK commented on #15
Thanks for getting back with me on this. I appreciate that! I don't expect a miracle right now. Just take your time on this, and don't rush.

[2020-10-29 13:16] TelepathicGrunt opened #17 "Make activationItem config accept multiple values and spit out config entry in error"

[2020-10-31 19:54] TelepathicGrunt commented on #16
v2.0.6 fixes this

[2020-10-31 19:54] #16 closed, assigned to TelepathicGrunt

[2020-11-02 23:54] TelepathicGrunt commented on #15
Just tested and flew around in my dimension. Even exited and re-entered and couldn't get this crash to occur. Has the crash happen again for your no? If not, it may just been a one time crash with another mod for some weird reason

[2020-11-03 03:32] TelepathicGrunt opened #19 "make worldblender pull the stuff from the dynamicregistries instead of biomes."
would speed up starting the world significantly. in theory.

Would also mean we could pull in stuff that mods registered but aren't spawning yet. Could be glitchy as a result lmao

[2020-11-03 05:45] DatrixTHLK commented on #15
Exit 0 means a successful exit. However, what would have caused the "successful exit" error...I haven't a clue. I'm going to try it again to make sure it works

[2020-11-04 22:56] TelepathicGrunt commented on #19
nvm. I need the generation stages which means I am locked into biomes. rip

[2020-11-04 22:56] #19 closed, assigned to TelepathicGrunt

[2020-11-04 23:19] TelepathicGrunt commented on #17
done!

[2020-11-04 23:19] #17 closed, assigned to TelepathicGrunt

[2020-11-17 15:51] TelepathicGrunt opened #20 "Make teleportation out of WB check for portal blocks in original dimension and only go to overworld if portals are gone"
a simple change in behavior to make it more intuitive

[2020-11-17 15:53] TelepathicGrunt opened #21 "Enderdragon spawn sometimes not working still."
Need to change the vanilla bedrock podium check to check for the WB portal first and then check upward from there. This should prevent the bedrock bottom of the dimension tricking the game into thinking a fresh world has the dragon fight already

[2020-11-19 00:58] TelepathicGrunt commented on #15
Any news? if the crash hasnt happened again, I'll close this issue then.  Strange tho

[2020-11-21 17:48] DatrixTHLK commented on #15
Unfortunately, I haven't been playing or testing minecraft lately with mods in general. I know that all the mods I use for 1.16.4 are updated. I just haven't been able to play with them yet. I will give it a try before today is over with and let you know.

Edit: I'm just now trying to get into the game. It works for now I haven't had any exit code zeros as of yet or any crashes. Thanks for updatin

[2020-11-21 22:33] #21 closed, assigned to TelepathicGrunt

[2020-11-22 05:54] #15 closed, assigned to TelepathicGrunt

[2020-12-06 21:55] TelepathicGrunt opened #22 "Make oceans biggers so ocean monuments spawn"
![image](https://user-images.githubusercontent.com/40846040/101294191-ca88d100-37e3-11eb-83bd-85529331ef23.png)

gg mojang lol. It only spawns monuments if all biomes in a 116 block radius is ocean category.

[2020-12-06 22:00] TelepathicGrunt commented on #22
hmm. WB biomes are also none category. should we make the oceans be ocean category or mixin to monuments to bypass the check in our dimension? Are other mods gonna copy what monuments do? hmm

[2020-12-07 16:11] TelepathicGrunt opened #23 "Check if custom chunk generator can spawn multiple configuredstructures at once"
would be an interesting challenge to do. Not sure it is possible tho.

[2020-12-08 19:00] TelepathicGrunt opened #24 "Attempt to improve the chunk scanning feature performance"
maybe working on the chunk itself instead of world will speed it up. Need to test

https://github.com/TelepathicGrunt/LoadNbtBlock/blob/357c72d92bf2cd166202eed0a47aec46682c379a/src/main/java/com/telepathicgrunt/loadnbtblock/blocks/LoadNbtBlock.java#L65-L89

[2020-12-09 21:10] TelepathicGrunt opened #25 "Add config option to nuke everything added to WB's biomes by BiomeLoadEvent"
It seems unregistered configuredfeatures have been slipping into the dimension through BiomeLoadEvent. I should nuke them out. Of course, I rather this be opt in as some people may want to add stuff to the dimension through the other mod instead of world blender's stuff

[2020-12-09 21:59] TelepathicGrunt opened #26 "wont import registered gaia features"
![image](https://user-images.githubusercontent.com/40846040/101693603-e092cd80-3a3f-11eb-8cb3-c4ca6d900a96.png)

[2020-12-14 16:37] TelepathicGrunt opened #27 "Immersive Portals makes world blender unable to import anything"
Blame and World Blender shows nothing in logs.

[2020-12-25 12:57] TelepathicGrunt commented on #22
Need to add config to change biome size

[2020-12-25 22:18] TsplayerT opened #28 "mod causing crash"
I had several problems with the mod and all the errors were similar to these, in fact there are problems registered in different issues that occurred to me

[latest.log](https://github.com/TelepathicGrunt/WorldBlender/files/5742453/latest.log)
![Screenshot_3](https://user-images.githubusercontent.com/6465230/103142676-f19d3900-46e5-11eb-99d5-97f16b66ccd2.png)

[2020-12-26 15:20] TelepathicGrunt commented on #28
I am not supporting my mods on Minecraft version older than latest (1.16.2+). Sorry. I just don't have to time to work on multiple mc versions of my mods.

Although looking at the logs, it seems the issue is wildnature's features cannot be parsed into json for world blender's comparisons to work. Something in their feature is missing the element "shooter" which causes gson to crash here:
https://g

[2020-12-26 15:20] #28 closed, assigned to TelepathicGrunt

[2020-12-26 15:29] TelepathicGrunt opened #29 "Check world blender with 1.16.4 mcreator mods"
I have a feeling mcreator is doing worldgen VERY wrong and will crash world blender but I need to check if that's the case

[2021-01-03 22:09] TelepathicGrunt opened #30 "Look for any possible way to speed up world blender's startup time when tons of biome mods are one"
- Remove parsing unregistered configuredfeatures and printing them. That could be part of the slowdown

[2021-01-03 22:48] TelepathicGrunt commented on #30
Perhaps change it so that I make a temp set of elements and do .contains on that instead of the .anyMatch stream which is slower when the wb biomes become more full

[2021-01-12 16:38] TelepathicGrunt commented on #20
hmm. nah

[2021-01-12 16:38] #20 closed, assigned to TelepathicGrunt

[2021-01-12 22:55] TelepathicGrunt commented on #26
unable to figure this out. it's something on gaia's end

[2021-01-12 22:55] #26 closed, assigned to TelepathicGrunt

[2021-01-13 04:34] TelepathicGrunt commented on #22
fixed in 3.0.0!
monuments spawn now

[2021-01-13 04:34] #22 closed, assigned to TelepathicGrunt

[2021-01-13 04:34] TelepathicGrunt commented on #23
added in 3.0.0!

[2021-01-13 04:34] #23 closed, assigned to TelepathicGrunt

[2021-01-13 04:34] TelepathicGrunt commented on #24
done in 3.0.0!

[2021-01-13 04:34] #24 closed, assigned to TelepathicGrunt

[2021-01-13 04:35] TelepathicGrunt commented on #25
added in 3.0.0!

[2021-01-13 04:35] #25 closed, assigned to TelepathicGrunt

[2021-01-13 04:35] TelepathicGrunt commented on #29
No crash! But mcreator doesnt register configuredfeatures so their stuff doesnt get imported but that's ok

[2021-01-13 04:35] #29 closed, assigned to TelepathicGrunt

[2021-01-13 04:35] TelepathicGrunt commented on #30
fixed in 3.0.0! Massive speed boost now!

[2021-01-13 04:35] #30 closed, assigned to TelepathicGrunt

[2021-01-25 14:59] sciguyryan opened #31 "Incompatibility crash with Cyclops"
Hi!

While putting together a (fairly large) 1.16 modpack I came upon a crash while attempting to create a new world. An example crash report has been attached here. This crash is completely repeatable as long as World Blender is enabled in the pack.

I have tried to narrow down what conflict could be causing this, but with no luck so far. I checked to see if the Java version was the issue, turned

[2021-01-25 15:57] TelepathicGrunt commented on #31
Someone's configuredfeature (stuff like trees, ores, etc) is broken and cannot be converted to JSON which World Blender does to compare features. Do you have any mcreator mods on? If so, what mcreator mods are you using?

If you cant find out, I can make an experimental jar later to try and print out the name of the crashing configuredfeature which would help narrow down the mod quickly.

[2021-01-25 17:10] TelepathicGrunt commented on #31
can you remove world blender and add on Blame https://www.curseforge.com/minecraft/mc-mods/blame

then launch the world and then give me the latest.log file? Blame has code to find the broken configuredfeature which should help us

[2021-01-26 11:04] sciguyryan commented on #31
I have disabled world blender and created a new world with the pack. It worked fine without it installed. Please find the file attached as requested.

I did have a quick look but I have no idea what I am looking for. I haven't used Minecraft for some time, I'm getting back into it after a very long period of absence.

[latest.log](https://github.com/TelepathicGrunt/WorldBlender/files/5872923/lates

[2021-01-26 14:39] TelepathicGrunt commented on #31
Blame made a report towards the bottom that stated the broken configuredfeatures or unregistered ones. Looks like cyclops's configuredfeatures are broken and cannot be turned into json properly. I will reach out to them.

It also says naturesaura and allomancy's configuredfeatures aren't properly registered. Though what version of naturesaura are you using? I thought they fixed their configuredfea

[2021-01-26 14:51] sciguyryan commented on #31
Nature's Aura is at version 33.4. I have just checked and this is the latest version available on CurseForge.

As for Allomancy, that would be the following mod:

https://www.curseforge.com/minecraft/mc-mods/allomancy

Thanks for looking into this for me. If there is anything I can do to assist here, please do let me know.

[2021-01-26 14:53] TelepathicGrunt commented on #31
I just notified Allomancy so they should work on a fix soon. As for nature, weird but I'll contact them.

the hard part is cyclops is actually a library mod so some other mod is using cyclops and is registering a broken configuredfeature through them. Can you find out and let me know what mod is depending on cyclops? It would help greatly!

[2021-01-26 14:56] TelepathicGrunt commented on #31
Nevermind. The cyclops dev found and told me the mod. It appears to be IntegratedDynamics. Hopefully this can be resolved soon!
https://github.com/CyclopsMC/IntegratedDynamics/issues/975

[2021-01-29 16:40] sciguyryan commented on #31
I have updated to the latest ID version and the startup crash has been fixed. I am happy to close this now and open a new bug should any of the other two mods cause issues here.

Thanks for helping resolve this!

[2021-01-29 16:40] #31 closed, assigned to TelepathicGrunt

[2021-01-30 15:30] TelepathicGrunt commented on #27
fixed on their end

[2021-01-30 15:30] #27 closed, assigned to TelepathicGrunt

[2021-02-04 01:11] TelepathicGrunt opened #32 "Cap weight of mob spawn entries to vanilla max per category and 1 min always"
Prevents a mob from dominating all spawns and prevent crash from 0 or negative weight (also print 0 or negative weight as that's bad)

[2021-02-05 02:13] TelepathicGrunt commented on #32
done in 3.0.2!

[2021-02-05 02:13] #32 closed, assigned to TelepathicGrunt

[2021-03-02 20:04] TelepathicGrunt opened #33 "code cleanup suggestions"
replace worldBlenderBiomes.get(0).getGenerationSettings() with hashmap and try cleaning up code
https://github.com/TelepathicGrunt/WorldBlender/blob/501588f08bccf644488f236e993106d1cc396571/src/main/java/com/telepathicgrunt/world_blender/the_blender/TheBlender.java#L166

[2021-03-02 20:16] TelepathicGrunt commented on #33
+ use faster copy method to copy the hashmap to all biomes

[2021-03-02 20:19] TelepathicGrunt commented on #33
also possibly multithread blending?

[2021-03-04 17:19] TelepathicGrunt commented on #33
With old update and BYG on, it takes 12 seconds to blend.
With the new code done, it now takes 9 seconds. So about a 25% boost?

But if we are to get faster, multithreading seems to be the only way.
Question is, how should the threading be done?

Current idea I have is send a thread out for each worldgen stage (including decoration stages), have each thread loop over their own biome registries, an

[2021-03-06 15:23] #33 closed, assigned to TelepathicGrunt

[2021-03-07 00:46] TelepathicGrunt opened #36 "Increase size of oceans"

[2021-03-07 00:47] TelepathicGrunt opened #37 "Make dragon not spawn if world blender dimension does not have the world blender biome source"

[2021-03-07 22:20] TelepathicGrunt opened #38 "Localization needed for biomes so map mods can use it. I think"

[2021-03-15 02:18] TelepathicGrunt opened #39 "see about scheduling a task 5-10 ticks after a WB chunk is made and remove all dropped items in that chunk."
would significantly cut down on dropped item lag like crazy.

[2021-03-17 02:07] TelepathicGrunt commented on #36
done in v3.1.1

[2021-03-17 02:07] #36 closed, assigned to TelepathicGrunt

[2021-03-17 02:07] TelepathicGrunt commented on #37
done in v3.1.1

[2021-03-17 02:07] #37 closed, assigned to TelepathicGrunt

[2021-03-17 02:07] TelepathicGrunt commented on #38
done in v3.1.1

[2021-03-17 02:07] #38 closed, assigned to TelepathicGrunt

[2021-03-17 02:08] TelepathicGrunt commented on #39
done in v3.1.1

[2021-03-17 02:08] #39 closed, assigned to TelepathicGrunt

[2021-04-26 03:04] TelepathicGrunt opened #40 "Config to change End Stone/Netherrack path"
![image](https://user-images.githubusercontent.com/40846040/116023641-870bf380-a61a-11eb-9d89-3d84db069fe1.png)

[2021-06-10 01:21] Mewcenary opened #41 "Mobs go invisible when using minimap/worldmap or running/teleporting"
I am playing the Minecraft mod, Ice and Fire Magic Modpack.  I've updated the Minimap to 21.10.0.1 for Forge and the World Map to 1.14.1 for Forge 1.16.5.

When I run using the minimap with the tab button pressed to see mobs, they end up going invisible and I can't see them on any map or standing in front of them.  Nothing shows, only their sound works.  This happens to all mob types; hostile, fri

[2021-07-06 01:34] TelepathicGrunt commented on #41
Oof I somehow missed this issue report. However, World Blender should not conflict at all with minimap mods or mob rendering at all. In fact, the only rendering I even do is for my portal block which you do not have on screen. Are you sure the conflict is actually with my mod and not something else? Were you able to resolve the issue by now?

[2021-07-06 01:38] TelepathicGrunt commented on #40
Planned for 1.17 as the fabric version now has config option on 1.17

[2021-07-07 03:06] Mewcenary commented on #41
Yeah, it only happened when I used the minimap while running. But I believe the issue is resolved now, another person who works with you? Helped me resolve it by updating to your newer mod version.  Thank you for your response regardless XD I LOVE your mod it's fantastic!!!. I will close this now :3

[2021-07-07 03:06] #41 closed, assigned to nobody

[2021-07-07 06:43] DKLYNTLY opened #42 "Space Boss Tools 1.16.5-5.3 crashes in World Blender if Environmental is on"
---- Minecraft Crash Report ----
// Daisy, daisy...

Time: 7/8/21 10:47 AM
Description: Watching Server

java.lang.Error: ServerHangWatchdog detected that a single server tick took 180.00 seconds (should be max 0.05)
	at sun.misc.Unsafe.park(Native Method) ~[?:1.8.0_74] {}
	at java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215) ~[?:1.8.0_74] {}
	at net.minecraft.util.concurrent.

[2021-07-07 06:44] DKLYNTLY commented on #42
"Optimization Options"]
	#
	#-----------------------------------------------------
	#
	# Will prevent importing vanilla lava/fire/basalt features and
	# will attempt to make modded lava/fire features not spawn at all
	# in order to help reduce lag in the world due to fire spreading rapidly.
	# Also, basalt is ugly as it overwhelms the world.
	# If all else fail, do /gamerule doFireTick false to re

[2021-07-08 06:00] DKLYNTLY commented on #42
https://user-images.githubusercontent.com/75499681/124869850-3da53080-dfdb-11eb-8baa-e796dd4afbe9.mp4

[2021-07-08 06:28] DKLYNTLY commented on #42
latest log:
[latest.log](https://github.com/TelepathicGrunt/WorldBlender/files/6782028/latest.log)

[2021-07-08 06:33] DKLYNTLY commented on #42
my modpack:
[Random Items-Forge.zip](https://github.com/TelepathicGrunt/WorldBlender/files/6782066/Random.Items-Forge.zip)

[2021-07-08 17:36] TelepathicGrunt commented on #42
The zipped pack you gave me does not have the config changes I gave you. That would explain why the config seemingly did not work as the correct config file wasn't edited. Try and edit the file in the config folder above the mods folders to have my changes. You could just delete the entire world blender config file and drag this toml file in instead.
[world_blender-blending.zip](https://github.com

[2021-07-09 07:23] DKLYNTLY commented on #42
ok thankyou sooo much

[2021-07-09 07:23] #42 closed, assigned to TelepathicGrunt

[2021-08-22 23:14] DKLYNTLY opened #43 "Minecraft crashed when going into world blender dimension"
debug.log: https://gist.github.com/Rubyz67/5b8c399c76e1cb8d8bf98899617a01e9
crash log:
[crash-2021-08-22_19.05.45-server.txt](https://github.com/TelepathicGrunt/WorldBlender/files/7028305/crash-2021-08-22_19.05.45-server.txt)

[2021-08-23 00:33] TelepathicGrunt commented on #43
The debug.log you gave got cut off before the actual crash. The latest.log file would be better to give as debug log files tends to be bloated much bigger and gist cut it off or copy/paste couldn't grab the whole thing.

But anyway, judging from the crashlog, this is being ran on a server with a massive amount of mods and the server is limited to 180 seconds for a tick before the watchdog will kil

[2021-08-23 01:02] Rubyz67 commented on #43
i will try to blacklist some mods and if that doesn't work then I will ask for a config file you made

[2021-08-23 01:15] DKLYNTLY commented on #43
and here is the log:
[latest.log](https://github.com/TelepathicGrunt/WorldBlender/files/7028511/latest.log)

[2021-08-23 19:38] DKLYNTLY commented on #43
[latest.log](https://github.com/TelepathicGrunt/WorldBlender/files/7034475/latest.log)
[debug.log](https://github.com/TelepathicGrunt/WorldBlender/files/7034476/debug.log)

[2021-09-05 20:31] JadeFalcon opened #44 "crash creating new world"
[crash-2021-09-05_13.23.42-client.txt](https://github.com/TelepathicGrunt/WorldBlender/files/7112315/crash-2021-09-05_13.23.42-client.txt)
[latest.log](https://github.com/TelepathicGrunt/WorldBlender/files/7112316/latest.log)

[2021-09-05 23:13] TelepathicGrunt commented on #44
I never seen this crash before. Something has a field State but it isnt a json object. I'll try and harden the mod against these kinds of assumptions. Would you be able to provide me the exported modpack profile so I can try and test it on my end?

[2021-09-05 23:26] TelepathicGrunt commented on #44
You can give this test jar a try (be sure to unzip this folder to get the jar). See if that fixes the crash
[world_blender-1.16.5-4.0.1b-forge.zip](https://github.com/TelepathicGrunt/WorldBlender/files/7112505/world_blender-1.16.5-4.0.1b-forge.zip)

[2021-09-06 00:25] JadeFalcon commented on #44
That did fix the crash, I also narrowed down the crash to the newest version of Mystical World/Mystical Biomes

[2021-09-06 00:55] TelepathicGrunt commented on #44
thank you! The fix is now released on curseforge.

[2021-09-06 00:55] #44 closed, assigned to TelepathicGrunt

[2021-10-25 22:40] TelepathicGrunt commented on #43
Sorry i forgot about this for so long. But I went ahead and tried world blender with lycanite myself and no issue. If you are still using world blender, have you tried my suggestion of blacklisting a bunch of stuff from world blender's dimension? Or can you send me your modpack profile so I can see all your mod and configs and can try it myself to see what mod's stuff is taking up so much worldgen

[2021-10-25 22:40] #40 closed, assigned to TelepathicGrunt

[2021-11-06 21:23] TelepathicGrunt commented on #43
Since there has been no response in a while and I cannot reproduce the issue, I'll close this issue report now

[2021-11-06 21:23] #43 closed, assigned to TelepathicGrunt